@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact_wrapper {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info_reduced {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  input {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .info {
    display: block !important;
  }
}
html body {
  margin: 0;
  margin-right: 0;
  border: 0px;
}

a {
  color: black;
}

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

main {
  margin-left: 160px;
}

body {
  font-family: Ubuntu;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact_wrapper {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info_reduced {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  input {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .info {
    display: block !important;
  }
}
.navigation {
  display: none;
  position: fixed;
  height: 100%;
  width: 160px;
  border-right: 2px solid #a9a9a9;
  z-index: 100;
  background-color: white;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #3CAFB7;
  letter-spacing: 8px;
  font-size: xx-large;
  color: #3CAFB7;
}

.initials {
  font-family: Pacifico;
  text-shadow: -1px -1px 0 #A0A0A0, 1px -1px 0 #A0A0A0, -1px 1px 0 #A0A0A0, 1px 1px 0 #A0A0A0;
}

.sidenav {
  list-style: none;
  margin-top: 60px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link_item {
  display: block;
  margin: 10px 0px 10px 0px;
  white-space: nowrap;
  text-decoration: none;
}
.link_item:hover {
  transition-duration: 0.08s;
  transition-timing-function: extend ease-in;
  border-bottom: 2px solid #3CAFB7;
}

.social_media {
  list-style: none;
  margin-top: 30px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-evenly;
}

.fab {
  font-size: 18px;
}

.media:hover .fab {
  color: white;
  background-color: orange;
  padding: 4px 4px 4px 4px;
  border-radius: 45%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

.sears {
  position: absolute;
  bottom: 0;
  left: 10%;
  font-family: Pacifico;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact_wrapper {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info_reduced {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  input {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .info {
    display: block !important;
  }
}
footer {
  background-color: #333645;
  margin-left: 160px;
}

#up {
  text-align: center;
  text-decoration: none;
  color: white !important;
}

.up {
  margin: 0px;
}

.fa-chevron-up {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact_wrapper {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info_reduced {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  input {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .info {
    display: block !important;
  }
}
.full-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

#banner {
  display: flex;
  flex-grow: 1;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

.cat {
  color: orange;
}

.typewriter {
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  width: 50;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.fade-in {
  display: flex;
  justify-content: center;
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
  font-size: 24px;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.me {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;
}

.scroll-down {
  position: absolute;
  bottom: 15%;
  left: 53%;
  position: absolute;
  text-align: center;
}

#scroll {
  text-decoration: none !important;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact_wrapper {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info_reduced {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  input {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .info {
    display: block !important;
  }
}
#port {
  display: flex;
  justify-content: center;
  font-family: "Pacifico";
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.card_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#card {
  text-align: center;
}

.project {
  width: 210px;
  height: 120px;
}
.project:hover {
  opacity: 0.5;
}

.project_link {
  text-decoration: none;
}

.blank_space {
  height: 30px;
  margin-bottom: 30px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .contact_wrapper {
    gap: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .info_reduced {
    display: block !important;
  }
}
@media (max-width: 1199px) {
  input {
    height: 30px;
  }
}
@media (min-width: 1200px) {
  .info {
    display: block !important;
  }
}
.contact_section {
  background-color: #a9a9a9;
}

.contact_container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact_wrapper {
  display: flex;
  justify-content: center;
}

.contact_text {
  color: white;
}

.info {
  display: none;
  line-height: 1.4rem;
}

.info_reduced {
  display: none;
  line-height: 1.4rem;
}

.email_address {
  width: 100%;
  white-space: nowrap;
}

.form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

input, textarea {
  margin-top: 15px;
  font-family: Ubuntu !important;
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
}
input:focus, textarea:focus {
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 5px #51cbee;
}

.user {
  display: flex;
  flex: 1;
}

.details {
  width: 50%;
}

.email {
  margin-left: 10px;
}

.name {
  margin-right: 10px;
}

.input {
  width: 100%;
}

input {
  height: 30px;
}

#sub_btn {
  margin-top: 15px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  font-family: Ubuntu;
  background-color: #DCDCDC;
}
#sub_btn:hover {
  border: 2px solid orange;
  background-color: #c3c3c3;
}

/*# sourceMappingURL=styles.css.map */
