@media (max-width: 576px) {
  .align_scroll, .type-container, #arrow_alignment {
    width: 400px;
    margin: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .alignment,
.container,
.type-container,
.align_scroll,
.vessel,
#arrow_alignment {
    width: 560px;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .alignment,
.container,
.type-container,
.align_scroll,
.vessel,
#arrow_alignment {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .alignment,
.container,
.type-container,
.align_scroll,
#arrow_alignment {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .alignment,
.container,
.align_scroll,
.type-container,
#arrow_alignment {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .media {
    padding: 0;
  }
}
@media (min-width: 992px) {
  #close,
#reveal,
#top_navigation {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 576px) {
  .scroll_align {
    margin: auto;
    width: 350px;
  }
}
@media (max-width: 576px) {
  #app {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .me {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  #close {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  #banner {
    margin-top: 0px;
  }
}
@media (max-width: 768px) {
  .card_wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media (max-width: 991px) {
  .contact_text {
    display: none;
  }

  .sm_contact_text {
    display: block !important;
  }
}
@media (max-width: 576px) {
  #name,
#email,
#cc,
#subject,
#text_input {
    width: 300px;
    margin-left: 0px;
    margin-right: 0;
  }

  .user {
    flex-wrap: wrap;
  }

  .sm_contact_text {
    text-align: center;
  }
}
@media (max-width: 992px) {
  #form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .user {
    justify-content: center;
    width: 100%;
  }

  .blank_space {
    margin-bottom: 0px;
  }

  .sm_contact_text {
    text-align: center;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0;
  }
}
@media (min-width: 1085px) {
  .about_wrapper {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .vessel {
    width: 830px;
    margin: auto;
  }
}
@media (min-width: 1100px) {
  .vessel {
    width: 900px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .profile_image {
    display: block;
  }
}
@media (max-width: 767px) {
  #page {
    min-height: 1220px !important;
  }
}
@media (min-width: 992px) {
  #content,
#full-page,
#page {
    margin-top: 0 !important;
  }
}
#full-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#banner {
  height: 100vh;
  margin-top: -148px;
  position: relative;
  display: flex;
  flex-grow: 1;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

#arrow_alignment {
  position: absolute;
  top: 1%;
  text-align: center;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
}

.cat {
  color: orange;
}

.typewriter {
  display: flex;
  justify-content: center;
}

.Typewriter__cursor {
  color: orange;
}

.typewriter h1 {
  letter-spacing: 0.15em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.fade-in {
  display: flex;
  justify-content: center;
  animation: fadeIn linear 8s;
  -webkit-animation: fadeIn linear 8s;
  -moz-animation: fadeIn linear 8s;
  -o-animation: fadeIn linear 8s;
  -ms-animation: fadeIn linear 8s;
  font-size: 24px;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.me {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000 !important;
  text-align: center;
}

.align_scroll {
  position: absolute;
  bottom: 0;
}

.scroll-down {
  text-align: center;
}

#scroll {
  font-size: 18px;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*# sourceMappingURL=_banner.css.map */
