// Banner section
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

#full-page {
  // height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  // min-height: 700px;
}

#banner {
  height: 100vh;
  margin-top: -148px;
  position: relative;
  display: flex;
  flex-grow: 1;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

#arrow_alignment {
  position: absolute;
  top: 1%;
  text-align: center;
}

// #arrow_alignment.open {
//   top: 20%;
// }

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
}

.cat {
  color: orange;
}

.typewriter {
  display: flex;
  justify-content: center;
}

#app {

}
.Typewriter__cursor {
  color: orange;
}

.typewriter h1 {
  letter-spacing: 0.15em;
  color: white;
  text-shadow: $shadow;
}

// Text fade in //

.fade-in {
  display: flex;
  justify-content: center;
  animation: fadeIn linear 8s;
   -webkit-animation: fadeIn linear 8s;
   -moz-animation: fadeIn linear 8s;
   -o-animation: fadeIn linear 8s;
   -ms-animation: fadeIn linear 8s;
   font-size: 24px;
   color: white;
}

@keyframes fadeIn {
 0% {opacity:0;}
 100% {opacity:1;}
}

@-moz-keyframes fadeIn {
 0% {opacity:0;}
 100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
 0% {opacity:0;}
 100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.me {
  text-shadow: $shadow !important;
  text-align: center;
}

.align_scroll {
  position: absolute;
  bottom: 0;
}

.scroll-down {
  text-align: center;
}

#scroll {
  font-size: 18px;
  color: white !important;
  text-shadow: $shadow;
}
