// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.contact_section {
  background-color: #a9a9a9;
}

.contact_container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sm_contact_text {
  display: none;
}

.contact_text, .sm_contact_text {
  color: white;
}

.info {
  line-height: 1.4rem;
}

.email_address {
  width: 100%;
  white-space: nowrap;
  color: cornsilk;
  &:hover {
    color: $dark-cornsilk;
  }
}

.contact_detail {
  font-size: 14px;
}

.form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}

input, textarea {
  margin-top: 15px;
  font-family: Ubuntu !important;
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
&:focus {
  outline: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

.user {
  display: flex;
  flex: 1;
}

input {
  padding: 4px 0px 4px 6px;
}

#name, #email {
    width: 50%;
}

#email {
  margin-left: 10px;
}

#name {
  margin-right: 10px;
}

.input {
  width: 100%;
}

input {
  height: 30px;
}

textarea {
  width: 100%;
  padding: 4px 2px 4px 6px;
}

#error {
  display: flex;
  justify-content: center;
  line-height: 1.4rem;
  color: red;
}

#sub_btn {
  display: block;
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  border: 2px solid $grey-border;
  border-radius: 3px;
  font-family: Ubuntu;
  background-color: #DCDCDC;
  &:hover {
    border: 2px solid orange;
    background-color: $grey-border;
    border: -2px;
    cursor: pointer;
  }
}
