

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.port {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico';
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

.card_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

#card {
  text-align: center;
}

// .overlay:hover {
//   position: absolute;
//   background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
//   z-index: 30;
//   right: 0;
//   left: 0;
//   top: 0;
//   bottom: 0;
// }

.project {
  width: 210px;
  height: 120px;
  &:hover {
    opacity: 0.5;
  }
}

.project_link {
  text-decoration: none;
}
