

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';


.card_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.project {
  width: 210px;
}
