

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

#port {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico';
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}

.card_wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.card {
  text-align: center;
}

.project {
  width: 210px;
  height: 120px;
  &:hover {
    opacity: 0.5;
  }
}

.project_link {
  text-decoration: none;
}

.blank_space {
  height: 30px;
  margin-bottom: 30px;
  box-shadow: 0 5px 35px rgb(0 0 0 / 10%);
}
