// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

#content {
  position: relative;
  height: 100vh;
  min-height: 700px;
  margin-top: -148px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin .4s ease-in-out;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

.section {
  justify-content: center;
    margin-top: 30px;
    display: flex;
}

#about_wrapper {
  margin: 50px 20px 50px 20px;
  padding: 20px;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  background-color: white;
  opacity: 90%;
}

.about_heading {
margin: 15px 0px 5px 15px;
}

.text {
  display: flex;
  flex-direction: column;
}

#biograph {
  display: flex;
  gap: 10px;
  line-height: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.profile_image {
  display: none;
  opacity: 100%;
  margin-left: 20px;
  border: 2px solid #C0C0C0;

}
