// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.heading_wrapper {
  display: flex;
  justify-content: center;
}

.soon {
  padding: 40px;
  border: 2px solid #C0C0C0;
  border-radius: 10%;
  font-family: Pacifico;
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 lightgrey, 2px 2px 0 lightgrey, 2px 2px 0 lightgrey, 2px 2px 0 lightgrey;
  opacity: 85%;
  color: black;
  background-color: white;
}
