// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';



#code_page {
  position: relative;
  height: 100vh;
  min-height: 700px;
  // margin-top: -148px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

// #code_page.margin {
//   margin-top: 0px !important;
// }

#code_main {
  margin-top: -148px;
}

.heading_wrapper {
  display: flex;
  justify-content: center;
}

.query_link {
  color: blue !important;
}

.explanation {
  line-height: 1.5rem;
  background-color: antiquewhite;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.ui-accordion-content {
 height: 60vh;
 // width: 50vw;
}

#example1 {
  margin: 0px 30px 0px 30px;
  border: 1px solid;
  border-radius: 6px;
}

.example_wrapper2 {
  display: flex;
  justify-content: space-around;
}

#example2 {
  margin: 0px 30px 0px 30px;
  border: 1px solid;
  border-radius: 6px;
}

.table_header {
  margin-right: 30px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

.database_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#movie_data {
  width: 90%;
}

.query_heading {
  margin-bottom: 40px;
  text-align: center;
  text-decoration: underline;
}

.embedded_sql {
  margin-top: 0px;
}

.output_arrow_right {
  margin-right: 30px;
  text-align: center;
  font-size: 50px;
}

.sql_output {
  font-size: 16px;
  margin: 0px;
}

 #ce_close {
  transform: translateY(-80px) !important;
}

#ce_reveal {
  transform: translateY(-100px) !important;
}
