// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';


.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
    background-image: url(/Images/abstract-placeholder.jpeg);
}

.heading_wrapper {
  display: flex;
  justify-content: center;
  // padding: 5px 10px;
  // border: 2px solid #C0C0C0;
  // border-radius: 10%;
  // background-color: white;
  // opacity: 85%
}

.soon {
  padding: 40px;
  border: 2px solid #C0C0C0;
  border-radius: 10%;
  background-color: white;
  opacity: 85%;
  font-family: Pacifico;
  font-size: 40px;
  letter-spacing: 2px;
  color: black;
  text-shadow: 2px 2px 0 lightgrey, 2px 2px 0 lightgrey, 2px 2px 0 lightgrey, 2px 2px 0 lightgrey;
}
