@media (min-width: 576px) and (max-width: 767px) {
  .container, .vessel {
    width: 560px;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container, .vessel {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .container, .alignment {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  .top_navigation {
    display: none;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 992px) {
  .scroll-down {
    right: 39%;
  }
}
@media (max-width: 768px) {
  .card_wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media (max-width: 991px) {
  .contact_text {
    display: none;
  }

  .sm_contact_text {
    display: block !important;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about_wrapper {
    margin: 0px;
  }
}
@media (min-width: 1085px) {
  .about_wrapper {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .vessel, .alignment {
    width: 830px;
    margin: auto;
  }
}
@media (min-width: 1100px) {
  .vessel {
    width: 900px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .profile_image {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .alignment {
    width: 870px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .page {
    min-height: 800px !important;
  }
}
.page {
  padding: 20px 0px 20px 0px;
  min-height: 1200px;
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 1200px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
}

.first_wrapper {
  display: flex;
  justify-content: center;
}

.introduction {
  border-radius: 10px;
  padding: 20px;
  line-height: 1.6;
  border: 3px solid darkgray;
  font-size: 14px;
  background-color: white;
  opacity: 90%;
  width: 85%;
  margin: 0px 0px 50px 0px;
  line-height: 1.8rem;
  font-size: 18px;
}

.scheme_heading {
  text-align: center;
}

.second_wrapper {
  display: flex;
  margin-bottom: 30px;
  gap: 50px;
  justify-content: center;
}

.treehouse {
  border-radius: 10px;
  padding: 20px;
  line-height: 1.6;
  border: 3px solid darkgray;
  font-size: 14px;
  background-color: white;
  opacity: 90%;
  width: 40%;
  padding: 20px;
  line-height: 1.8rem;
  font-size: 18px;
}

.space {
  content: "";
  display: block;
  margin: 10px;
}

.netmatters {
  border-radius: 10px;
  padding: 20px;
  line-height: 1.6;
  border: 3px solid darkgray;
  font-size: 14px;
  background-color: white;
  opacity: 90%;
  width: 35%;
  padding: 20px;
  list-style: none;
  line-height: 1.6rem;
  font-size: 16px;
}

.net_list {
  padding-left: 0px;
  list-style: none;
}

.net_heading {
  padding: 10px 0px 10px 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.net_item {
  padding: 5px;
}

/*# sourceMappingURL=_scs-scheme.css.map */
