// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

#page {
  margin-top: -148px;
  position: relative;
  min-height: 950px;
  height: 100vh;
  background-image: url(/Images/abstract-placeholder.jpeg);
  background-size: cover;
  transition: margin .65s;
}

.layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
}

#scs_arrow_align {
  display: flex;
  justify-content: center;
  text-align: center;
}

#scs_arrow_align.open {
  transition: transform .1s ease-in-out;
}

#scs_close {
 transform: translateY(0px);
 margin-bottom: 30px;
}

#scs_reveal {
 transform: translateY(0px);
  margin-bottom: 30px;
}

.all_text {
  margin: 0px 10px 0px 10px;
  padding: 6px;
  border: 3px solid darkgray;
  border-radius: 10px;
  background-color: white;
  opacity: 90%;
}

.first_wrapper {
  margin: 0px 10px 0px 10px;
  display: flex;
  line-height: 1.8rem;
  font-size: 18px;
  text-align: center;
}

.second_wrapper {
  line-height: 1.6rem;
}

.treehouse_logo {
  width: 10%;
}

.scheme_heading {
  margin-top: 10px;
  text-align: center;
  line-height: 1.2em;
}

.intro_text {
  padding: 0px 10px 0px 10px;
}


.treehouse {
  margin: 0px 20px 0px 20px;
  padding: 0px 10px 0px 10px;
  line-height: 1.6em;
}

.space {
  content: "";
  display: block;
  margin: 10px;
}

.profile_link:hover {
  transition-duration: 0.08s;
  transition-timing-function: extend ease-in;
  border-bottom: 2px solid #3CAFB7;
}

.netmatters {
  margin-left: 20px;
  padding: 0px 10px 0px 10px;
  font-size: 16px;
}

.net_list {
  padding-left: 0px;
  list-style-type: square;
}

.net_heading {
  padding: 10px 0px 10px 0px;
  font-size: 1.5em;
  font-weight: bold;
  list-style: none;
}

.net_item {
  padding: 5px;
}
