// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.page {
  padding: 20px 0px 20px 0px;
  min-height: 800px;
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(/Images/abstract-placeholder.jpeg);
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
  }

.first_wrapper {
  display: flex;
  justify-content: center;
}

.introduction {
  @include text-box;
  width: 85%;
  margin: 0px 0px 50px 0px;
  line-height: 1.8rem;
  font-size: 18px;
}

.scheme_heading {
  text-align: center;
}

.second_wrapper {
  display: flex;
  margin-bottom: 30px;
  gap: 50px;
  justify-content: center;
}

.treehouse {
  @include text-box;
  width: 40%;
  padding: 20px;
  line-height: 1.8rem;
  font-size: 18px;
}

.space {
  content: "";
  display: block;
  margin: 10px;
}

.netmatters {
  @include text-box;
  width: 35%;
  padding: 20px;
  list-style: none;
  line-height: 1.6rem;
  font-size: 16px;
}

.net_list {
  padding-left: 0px;
  list-style: none;
}

.net_heading {
  padding: 10px 0px 10px 0px;
  font-size: 1.5em;
  font-weight: bold;
}

.net_item {
  padding: 5px;
}
