// Container width
@media (min-width: 576px) and (max-width: 767px) {
  .alignment,
  .container,
  .scroll_align,
  .vessel {
    width: 560px;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .alignment,
  .container,
  .scroll_align,
  .vessel {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .alignment,
  .container,
  .scroll_align {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .alignment,
  .container,
  .scroll_align {
    width: 1000px;
    margin: auto;
  }
}
//Base
@media (max-width: 991px) {
  main {
    margin-left: 0;
  }
}
// top_navigation social_media padding
@media (max-width: 991px) {
  .media {
    padding: 0;
  }
}
// top_navigation visibility
@media (min-width: 992px) {
  #close,
  #reveal,
  #top_navigation {
    display: none !important;
  }
}
// Navigation
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}

// Banner Section Mobile
@media (max-width: 576px) {
  .scroll_align {
    margin: auto;
    width: 350px;
  }
}

@media (max-width: 576px) {
  #app {
    font-size: 1.4rem;
  }
}

@media (max-width: 576px) {
  .me {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  #close {
    margin-top: 20px;
  }
}

// Projects card layout
@media (max-width: 768px) {
  .card_wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
// Contact layout
@media (max-width: 991px) {
  .contact_text {
    display: none;
  }

  .sm_contact_text {
    display: block !important;
  }
}
@media (max-width: 576px) {
  #email,
  #name {
    width: 300px;
    margin-left: 20px;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  #cc,
  #subject,
  #text_input {
    width: 300px;
    margin-left: 20px;
  }

  .user {
    flex-wrap: wrap;
  }

  #sub_btn {
    margin-left: 20px;
  }

  .sm_contact_text {
    text-align: center;
  }

}
//Footer responsive
@media (max-width: 991px) {
  footer {
    margin-left: 0;
  }
}
@media (min-width: 1085px) {
  .about_wrapper {
    width: 80%;
  }
}
@media (min-width:992px) and (max-width: 1099px) {
  .vessel {
    width: 830px;
    margin: auto;
  }
}
@media (min-width:1100px) {
  .vessel {
    width: 900px;
    margin: auto;
  }
}
@media (min-width:768px) {
  .profile_image {
    display: block;
  }
}
// scs-scheme content height
@media (max-width:767px) {
  #page {
    min-height: 1220px !important;
  }
}
// Adjusts margin-top as top nav disappears
@media (min-width:992px) {
  #content,
  #full-page,
  #page {
    margin-top: 0 !important;
  }
}
