// Container width
@media (min-width: 576px) {
  .container {
    width: 560px;
    margin: auto;
  }
}


@media (min-width: 768px) {
  .container {
    width: 760px;
    margin: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
 .container {
   width: 780px;
   margin: auto;
 }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
    margin: auto;
  }
}

//Base

@media (max-width: 991px){
  main {
    margin-left: 0px;
  }
}

// Navigation
@media (min-width: 992px){
.navigation  {
    display: block;
  }
}

// Contact layout

@media (max-width: 991px){
  .contact_text {
    display: none;
  }
  .sm_contact_text {
    display: block !important;
  }
}

//Footer responsive
@media (max-width: 991px) {
  footer {
    margin-left: 0px;
  }
}
