// *****************
// Maps
// *****************

$themes-hover: (
    'link': #67809f,
    'insta': #4183d7,
    'twit': #2ecc71,
    'face': #926fb1,);

// Border colour
$grey-border: darken(#DCDCDC, 10%);

// Text shadow
$shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
