// *****************
// Maps
// *****************

$themes-hover: (
    'link': #67809f,
    'insta': #4183d7,
    'twit': #2ecc71,
    'face': #926fb1,);

// Border colour
$grey-border: darken(#DCDCDC, 10%);

// Text shadow
$shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

//Background-colour
$white-bg-hover: darken(white, 10%);
$white-bg: darken(white, 5%);

// Border colour
$cyan-border-hover: darken(darkcyan, 10%);
$dark-orange-border: darken(darkorange, 10%);

// Link hover
$dark-crimson: darken(crimson, 60%);
$dark-cornsilk: darken(cornsilk, 10%);
