// Navigation

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

.navigation {
  display: none;
  position: fixed;
  height: 100%;
  width: 160px;
  border-right: 1.5px solid $white-bg-hover;
  z-index: 100;
  background-color: #333645;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $dark-orange-border;
  letter-spacing: 8px;
  font-size: xx-large;
}

a .initials {
  text-shadow: -1px -1px 0 #A0A0A0, 1px -1px 0 #A0A0A0, -1px 1px 0 #A0A0A0, 1px 1px 0 #A0A0A0;
  color: lightgrey !important;
  &:hover {
    text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
  }
}

.sidenav {
  list-style: none;
  margin-top: 60px;
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link_item {
  display: block;
  margin: 10px 0px 10px 0px;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  &:hover {
    transition-duration: 0.08s;
    transition-timing-function: extend ease-in;
    border-bottom: 2px solid steelblue;
    margin-bottom: 8px;
  }
}

.social_media {
  list-style: none;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-evenly;
}

.media {
  padding: 0px 10px 0px 10px;
  margin: 0;
  color: white;
}

.fab {
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  color: white;
}

.fab:hover {
  background-color: orange;
  color: white;
  border-radius: 45%;
  transition-duration: 0.20s;
  transition-timing-function: ease-in;
  cursor: pointer;
}

.sears {
  position: absolute;
  bottom: 0;
  left: 10%;
  color: white;
}
