// Utilities imports
@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

// structural

#top_navigation {
  transform: translateY(-100%);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 0;
  border-bottom: 1px solid lightgrey;
  background: white;
}

#top_navigation.is-active {
  transform: translateY(0);
  transition: transform .5s ease-in-out;
  z-index: 400;
}

.top_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//content
a .sm-in {
  margin-left: 10px;
  font-family: Pacifico;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #A0A0A0, 1px -1px 0 #A0A0A0, -1px 1px 0 #A0A0A0, 1px 1px 0 #A0A0A0;
  color: #696969 !important;
  &:hover {
    text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
  }
}

.top_icons {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px 70px 5px 70px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #dcdcdc;
}

.william {
  padding: 4px;
  font-family: Pacifico;
}

.media-insta {
  margin-right: 15px;
}

// Sub menu on hover
.drop_menu {
  display: none;
}

.drop_down {
  margin: 0px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #C0C0C0;
  border-radius: 3px;
  line-height: 35px;
  position: absolute;
  right: 3%;
  top: 101%;
  text-align: center;
  z-index: 300;
  list-style: none;
  background-color: white;
}

.drop_item {
  font-size: 18px;
&:hover {
  @include icon-hover;
  background-color: orange;
  }
}

.hamburger {
  width: 65px;
  height: 56px;
  margin-right: 10px;
  border-radius: 45%;
  text-align: center;
  background-color: #6082B6;
  color: white;
  &:hover::after {
    content: "";
    display: block;
    height: 50px;
  }
}

.hamburger:hover {
  color: orange;
  transition-duration: 0.1s;
  transition-timing-function: extend ease-in;
}

.top_wrapper .hamburger:hover + .drop_menu {
    display: block !important;
  }

.drop_menu:hover {
  display: block !important;
}

.fa-bars {
  font-size: 30px;
  margin-top: 12px;
}

.burger_menu {
  margin-top: 2px;
  font-size: 12px;
}

#cross {
  position: absolute;
  left: 3%;
  top: 8%;
  font-size: 20px;
  &:hover {
    @include icon-hover;
    color: orange;
    cursor: pointer;
  }
}

#reveal {
  color: lightgrey;
  font-size: 38px;
  text-shadow: $shadow;
  &:hover {
    @include icon-hover;
    cursor: pointer;
    color: orange;
  }
}

#close {
  display: none;
  color: lightgrey;
  font-size: 38px;
  text-shadow: $shadow;
  &:hover {
    @include icon-hover;
    cursor: pointer;
    color: orange;
  }
}
