@media (max-width: 576px) {
  .align_scroll, .type-container, #arrow_alignment {
    width: 400px;
    margin: auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .alignment,
.container,
.type-container,
.align_scroll,
.vessel {
    width: 560px;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .alignment,
.container,
.type-container,
.align_scroll,
.vessel {
    width: 760px;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .alignment,
.container,
.type-container,
.align_scroll {
    width: 780px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .alignment,
.container,
.scroll_align {
    width: 1000px;
    margin: auto;
  }
}
@media (max-width: 991px) {
  main {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .media {
    padding: 0;
  }
}
@media (min-width: 992px) {
  #close,
#reveal,
#top_navigation {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}
@media (max-width: 576px) {
  .scroll_align {
    margin: auto;
    width: 350px;
  }
}
@media (max-width: 576px) {
  #app {
    font-size: 1.4rem;
  }
}
@media (max-width: 576px) {
  .me {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  #close {
    margin-top: 20px;
  }
}
@media (max-width: 576px) {
  #form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .user {
    justify-content: center;
  }

  .blank_space {
    margin-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .card_wrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media (max-width: 991px) {
  .contact_text {
    display: none;
  }

  .sm_contact_text {
    display: block !important;
  }
}
@media (max-width: 576px) {
  #name,
#email,
#cc,
#subject,
#text_input {
    width: 300px;
    margin-left: 0px;
    margin-right: 0;
  }

  .user {
    flex-wrap: wrap;
  }

  .sm_contact_text {
    text-align: center;
  }
}
@media (max-width: 991px) {
  footer {
    margin-left: 0;
  }
}
@media (min-width: 1085px) {
  .about_wrapper {
    width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  .vessel {
    width: 830px;
    margin: auto;
  }
}
@media (min-width: 1100px) {
  .vessel {
    width: 900px;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .profile_image {
    display: block;
  }
}
@media (max-width: 767px) {
  #page {
    min-height: 1220px !important;
  }
}
@media (min-width: 992px) {
  #content,
#full-page,
#page {
    margin-top: 0 !important;
  }
}
#top_navigation {
  display: none;
  position: sticky;
  z-index: 400;
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgrey;
  background: white;
}

.top_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a .sm-in {
  margin-left: 10px;
  font-family: Pacifico;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #A0A0A0, 1px -1px 0 #A0A0A0, -1px 1px 0 #A0A0A0, 1px 1px 0 #A0A0A0;
  color: #696969 !important;
}
a .sm-in:hover {
  text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
}

.top_icons {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 5px 70px 5px 70px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #dcdcdc;
}

.william {
  padding: 4px;
  font-family: Pacifico;
}

.media-insta {
  margin-right: 15px;
}

.drop_menu {
  display: none;
}

.drop_down {
  margin: 0px;
  padding: 0px 10px 0px 10px;
  border: 2px solid #C0C0C0;
  border-radius: 3px;
  line-height: 35px;
  position: absolute;
  right: 3%;
  top: 101%;
  text-align: center;
  z-index: 300;
  list-style: none;
  background-color: white;
}

.drop_item {
  font-size: 18px;
}
.drop_item:hover {
  transition-duration: 0.2s;
  transition-timing-function: extend ease-in;
  background-color: orange;
}

.hamburger {
  width: 65px;
  height: 56px;
  margin-right: 10px;
  border-radius: 45%;
  text-align: center;
  background-color: #6082B6;
  color: white;
}
.hamburger:hover::after {
  content: "";
  display: block;
  height: 50px;
}

.hamburger:hover {
  color: orange;
  transition-duration: 0.1s;
  transition-timing-function: extend ease-in;
}

.top_wrapper .hamburger:hover + .drop_menu {
  display: block !important;
}

.drop_menu:hover {
  display: block !important;
}

.fa-bars {
  font-size: 30px;
  margin-top: 12px;
}

.burger_menu {
  margin-top: 2px;
  font-size: 12px;
}

#cross {
  position: absolute;
  left: 3%;
  top: 8%;
  font-size: 20px;
}
#cross:hover {
  transition-duration: 0.2s;
  transition-timing-function: extend ease-in;
  color: orange;
  cursor: pointer;
}

#reveal {
  color: lightgrey;
  font-size: 38px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#reveal:hover {
  transition-duration: 0.2s;
  transition-timing-function: extend ease-in;
  cursor: pointer;
  color: orange;
}

#close {
  display: none;
  color: lightgrey;
  font-size: 38px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#close:hover {
  transition-duration: 0.2s;
  transition-timing-function: extend ease-in;
  cursor: pointer;
  color: orange;
}

/*# sourceMappingURL=_top-navigation.css.map */
