// base styles

html body {
  padding: 0px;
  margin: 0;
  margin-right: 0;
  border: 0px
}

a {
  color: black;
  text-decoration: none;
}

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

main {
  margin-left: 160px;
}

body {
  font-family: Ubuntu;
}

#arrow_alignment {
  position: absolute;
  // top: 1%;
  transform: translateY(-250px);
  transition: transform .1s ease-in-out;
  text-align: center;
}

#arrow_alignment.open {
  // top: 20%;
  transition: transform .1s ease-in-out;
  transform: translateY(-110px);
}

#scs_arrow_align {
  top: -2%;
  position: absolute;
  text-align: center;
}

#scs_arrow_align.active {
  top: 1%;
}
