// base styles

html {
  scroll-behavior: smooth;
}

html body {
  padding: 0px;
  margin: 0;
  margin-right: 0;
  border: 0px
}

a {
  color: black;
  text-decoration: none;
}

.inner {
  padding: 20px 0px 20px 0px;
}

.container {
  margin: auto;
}

main {
  margin-left: 160px;
}

body {
  font-family: Ubuntu;
}

// #content {
//   position: relative;
//   height: 100vh;
//   min-height: 700px;
//   margin-top: -148px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-size: cover;
//   background-image: url(/Images/abstract-placeholder.jpeg);
// }
//
// #content.marginAdjust {
//   margin-top: 0px !important;
// }

#arrow_alignment {
  position: absolute;
  // top: 1%;
  // transform: translateY(-250px);
  transition: transform .1s ease-in-out;
  text-align: center;
}


// index class arrow buttons
.home_reveal {
  transform: translateY(-350px);
//   transition: transform .1s ease-in-out;
}

.home_close {
  transform: translateY(-180px);
  // transition: transform .1s ease-in-out;
  margin-top: 10px;
}

// coding examples class arrow buttons
#ce_close {
  transform: translateY(-80px);
}

#ce_reveal {
  transform: translateY(-200px);
}

#arrow_alignment.open {
  // top: 20%;
  transition: transform .1s ease-in-out;
  // transform: translateY(-110px);
}

#scs_arrow_align {
  top: -2%;
  position: absolute;
  text-align: center;
}

#scs_arrow_align.active {
  top: 1%;
}
